



          <h3>Components (
  <a href="https://github.com/leovo2708/ngx-treeview/tree/master/src/demo/book" target="_blank">source code</a>)</h3>
<ul>
 
</ul>
<div class="row">
  <div class="col-12">
    <div class="alert alert-success" role="alert">
      Selected books: {{values}}
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="form-group">
          <label>
            <strong>ngx-treeview</strong>
          </label>
          <ngx-treeview [config]="config" [items]="items" (filterChange)="onFilterChange($event)" (selectedChange)="values = $event">
          </ngx-treeview>
        </div>
      </div>
    </div>
  </div>
</div>